<!DOCTYPE html>
<html>
<style>
    body{
        padding: 7% 0;
        font-family: montserrat;
	    height:2000px;

		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.5)), url(../public/img/background.jpg);
		height: 100vh;
		background-size: cover;
		background-position: center;

		background-repeat: no-repeat;
  		background-attachment: fixed;

  		-webkit-background-size:cover;
  		background-size: cover;
    }
    
    p{
        text-align: center;
        font-size:xx-large;
        color: white;
        font-weight:bolder;
    }

    div{     
        text-align: center;
        margin-bottom: 15px;
    }

    button{
        padding: 10px;
        border-radius: 3px;
        color:blue;
        font-family: montserrat;
        font-size: 20px;
    }
    

</style>

<head>

</head>
<body>
    <p>Comment Sent Successfully!</p>
    <div> <img src="..\public\img\success.gif"></div>
    <div>
        <button><span><a href="\">Return to index</a></span></button>
    </div>
    
</body>
</html>